*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  width: calc(100% - 80px);
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
section{
    width: 100%;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
}
.logo{
  font-size: 30px;
  font-weight: 600;   
}
.logo a{
    color:#000;
}
.header{
     
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);

   background:linear-gradient(to bottom,rgb(255, 244, 28),transparent);
    background-color: #ffcc00;
    text-align: center;
    z-index: 9999;
    margin: auto;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    text-shadow: 5px 2px 10px black;
    position: sticky;
    top:0;
     left: 0;
    transition: background 1.2s;
}
.changeheader{
    background:linear-gradient(to bottom,rgb(255, 247, 0),rgb(81, 81, 81));
}
nav a {
    color: #000000d4;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.gap-15{
    gap:15px;
}
.jus{
    justify-content: center;
    align-items: center;
}
.Sites{
    padding:30px 0;
    margin: auto;
}
.table_container{
    overflow-x: auto;
  width: 100%;
  padding: 20px;
}
.Sites table{
min-width: 600px;
    width: 100%;
    background-color: #fff;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
}
.Sites thead{
   
    background-color:  #ffcc00;
  /*  #00ff00d4*/
}

.Sites td {
    border: 1px solid #ddd;
    padding:12px 20px;
}
.Sites th {
    border: 1px solid #323232;
    padding:12px 20px;
}
.Sites h2,.create-user h2{
 font-size: 40px;
/* background-color: #ffcc00;*/
 padding:20px;   
}
.Sites tbody tr:hover {
    background-color:#f1f1f1 ;
}
.btn{
    background-color: transparent;
    border-radius: 5px;
cursor: pointer;
  border: none;
}
.create-user{
  padding:20px;
    text-align: center;
}
.create_form{
 width: 80%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        text-align:left;
    gap:20px;
}
.create_form p{
color: red;
}
.create-user input{
    width:100%;
     padding:10px;
      border: #ccc solid;

}
input:focus{
    background-color: #8db1ffd4;
    border-radius: 10px;
}
.input{
     width: 100%;
     position: relative;
     
        }
        .fa-eye,.fa-eye-slash {
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    background-color: white;
    border: none;
    color: #333;
}

    .btn-form{
        /*#00ab00d4*/
 background-color:#ffcc00;
     padding:12px 24px;
       font-size: 20px;
    }
        .btn-show{
            padding:10px;
             background-color: #5187fbd4 !important;
    }
 .btn-delete{
        background-color:#ff4b4bd4;
     padding:15px;
    }
     .btn-edit{
        background-color: #5187fbd4;
     padding:15px 20px;
    }
    .btn_creatpass{
        background-color: #5187fbd4;
     padding:10px; 
    }

.input input[type="password"],.input input[type="text"] {
     flex-shrink: 1;
 flex-basis: 100px;
flex-grow: 1;
}
  .hero {
     background-image: url('./images/pexels-ksw-photographer-2372420-4018955.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero h1 {
  font-size: 60px;
}

.hero p {
  font-size: 30px;
  padding: 10px;
}

.hero button {
    padding: 12px 24px;
    font-size: 20px;
    background-color: #ffcc00;
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.image_break{
     background-image: url('./images/pexels-photo-374074.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.message_password.red{
    color: red;
}
.message_password.green{
    color:green;
}
.message_password.orange{
    color:orange;
}
.text-center{
    text-align: center;
}
.footer {
  background-color:  #ffcc00;
  color: #000000;
  font-size: 20px;
  border-top: 1px solid #ddd;
  padding: 20px;
}
.jus-between{
justify-content: space-around;
align-items: center;
}
.search_by_name {
    flex: 1;
  padding: 8px;
  border: 2px solid #ddd;
  border-radius: 5px;
}
.Sites label{
    font-size: 20px;
    color: #0c0b08;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body.dark{
    background-color: #292929;
    color: #fff;
}
body.dark footer{
  background-color: #1a1a1a;
  color: #ccc;
  border-top: 1px solid #333;
}
body.dark header a{
    color:#fff;
}
body.dark header{
   background-color: transparent;
}
body.dark table {
  background-color: #757575;
  color: white;
  border-color: #444;
}

body.dark thead {
  background-color: #2a2a2a;
  color: #ddd;
}

body.dark tbody tr {
  border-bottom: 1px solid #444;
}

body.dark tbody tr:hover {
  background-color: #2a2a2a;
}
body.dark label{
    color:#fff;
}
body.dark input{
  background-color: #727272;
  color: white;
  border: 1px solid #555;
}
body.dark input::placeholder {
  color: #ccc;
}

body.dark i{
    background-color: #727272;
  color: white;
}
  body {
    transition: background-color 0.5s ease, color 0.5s ease;
  }

@media  screen and (max-width: 768px)
{
  th, td {
    font-size: 12px;
    padding: 6px;
  }
  .hero h1 {
  font-size: 30px;
  }

.hero p {
  font-size: 15px;
  padding: 5px;
}
.Sites h2,.create-user h2{
 font-size: 20px;
/* background-color: #ffcc00;*/
 padding:10px;   
}
.header{
    font-size: 10px;
    padding:0;
}
.logo{
  font-size: 20px;
  font-weight: 500;   
}
     .btn-show{
            padding:0;
    }

}
p::selection {
    background-color: green;
    color: #fff;
}
.swal2-container {
  backdrop-filter: blur(8px);
}
span{
    
}
